body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img {
  position: absolute;;
  width: 900px;
  height: 600px;
  opacity: 0;
  transition: opacity 2s ease;
}

#current {
  opacity: 1;
}

#img-container {
  position: relative;
  height: 600px;
  width: 900px;
  background-color: #000;
  border: 1px solid #000;
}

#images {
  position: relative;
}

#arrow-btns {
  position: relative;
}

#previous-img-btn, #next-img-btn {
  position: absolute;
  top: 250px;
  padding: 0 9px;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  background-color: #ccc;
  border: 5px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

#previous-img-btn {
  left: -50px;
}

#next-img-btn {
  right: -50px;
}

#img-progress {
  position: absolute;
  bottom: 15px;
  right: 300px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#img-progress p {
  width: 10px;
  height: 10px;
  margin: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#current-slide-circle {
  background-color: #fff;
}